In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
classifdata=pd.read_csv("C:/Users/Anusha/Desktop/ML/Major Project/Dataset for Classification.csv")

In [16]:
classifdata.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [17]:
classifdata.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,3,1,0,6,3,4,4,3,1,2

In [18]:
classifdata.describe

<bound method NDFrame.describe of       Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
5      32        No  Travel_Frequently       1005  Research & Development
6      59        No      Travel_Rarely       1324  Research & Development
7      30        No      Travel_Rarely       1358  Research & Development
8      38        No  Travel_Frequently        216  Research & Development
9      36        No      Travel_Rarely       1299  Research & Development
10     35        No      Travel_Rarely        809  Research & Development
11     29        No      Travel_Rarely        153  Research & Development
12     31        No      Travel_Rarely        670  Research & Development
13     34        No      Travel_Rarely       1346  Research & Development
14     28       Yes      Travel_Rarely        103  Research & Development
15     29        No      Travel_Rarely       1389  Research & Development
16     32        No      Travel_Rarely        334  Research & Development
17     22        No         Non-Travel       1123  Research & Development
18     53        No      Travel_Rarely       1219                   Sales
19     38        No      Travel_Rarely        371  Research & Development
20     24        No         Non-Travel        673  Research & Development
21     36       Yes      Travel_Rarely       1218                   Sales
22     34        No      Travel_Rarely        419  Research & Development
23     21        No      Travel_Rarely        391  Research & Development
24     34       Yes      Travel_Rarely        699  Research & Development
25     53        No      Travel_Rarely       1282  Research & Development
26     32       Yes  Travel_Frequently       1125  Research & Development
27     42        No      Travel_Rarely        691                   Sales
28     44        No      Travel_Rarely        477  Research & Development
29     46        No      Travel_Rarely        705                   Sales
...   ...       ...                ...        ...                     ...
1440   36        No  Travel_Frequently        688  Research & Development
1441   56        No         Non-Travel        667  Research & Development
1442   29       Yes      Travel_Rarely       1092  Research & Development
1443   42        No      Travel_Rarely        300  Research & Development
1444   56       Yes      Travel_Rarely        310  Research & Development
1445   41        No      Travel_Rarely        582  Research & Development
1446   34        No      Travel_Rarely        704                   Sales
1447   36        No         Non-Travel        301                   Sales
1448   41        No      Travel_Rarely        930                   Sales
1449   32        No      Travel_Rarely        529  Research & Development
1450   35        No      Travel_Rarely       1146         Human Resources
1451   38        No      Travel_Rarely        345                   Sales
1452   50       Yes  Travel_Frequently        878                   Sales
1453   36        No      Travel_Rarely       1120                   Sales
1454   45        No      Travel_Rarely        374                   Sales
1455   40        No      Travel_Rarely       1322  Research & Development
1456   35        No  Travel_Frequently       1199  Research & Development
1457   40        No      Travel_Rarely       1194  Research & Development
1458   35        No      Travel_Rarely        287  Research & Development
1459   29        No      Travel_Rarely       1378  Research & Development
1460   29        No      Travel_Rarely        468  Research & Development
1461   50       Yes      Travel_Rarely        410                   Sales
1462   39        No      Travel_Rarely        722                   Sales
1463   31        No         Non-Travel        325  Research & Development
1464   26        No      Travel_Rarely       1167                   Sales
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education    EducationField  EmployeeCount  \
0                    1          2     Life Sciences              1
1                    8          1     Life Sciences              1
2                    2          2             Other              1
3                    3          4     Life Sciences              1
4                    2          1           Medical              1
5                    2          2     Life Sciences              1
6                    3          3           Medical              1
7                   24          1     Life Sciences              1
8                   23          3     Life Sciences              1
9                   27          3           Medical              1
10                  16          3           Medical              1
11                  15          2     Life Sciences              1
12                  26          1     Life Sciences              1
13                  19          2           Medical              1
14                  24          3     Life Sciences              1
15                  21          4     Life Sciences              1
16                   5          2     Life Sciences              1
17                  16          2           Medical              1
18                   2          4     Life Sciences              1
19                   2          3     Life Sciences              1
20                  11          2             Other              1
21                   9          4     Life Sciences              1
22                   7          4     Life Sciences              1
23                  15          2     Life Sciences              1
24                   6          1           Medical              1
25                   5          3             Other              1
26                  16          1     Life Sciences              1
27                   8          4         Marketing              1
28                   7          4           Medical              1
29                   2          4         Marketing              1
...                ...        ...               ...            ...
1440                 4          2     Life Sciences              1
1441                 1          4     Life Sciences              1
1442                 1          4           Medical              1
1443                 2          3     Life Sciences              1
1444                 7          2  Technical Degree              1
1445                28          4     Life Sciences              1
1446                28          3         Marketing              1
1447                15          4         Marketing              1
1448                 3          3     Life Sciences              1
1449                 2          3  Technical Degree              1
1450                26          4     Life Sciences              1
1451                10          2     Life Sciences              1
1452                 1          4     Life Sciences              1
1453                11          4         Marketing              1
1454                20          3     Life Sciences              1
1455                 2          4     Life Sciences              1
1456                18          4     Life Sciences              1
1457                 2          4           Medical              1
1458                 1          4     Life Sciences              1
1459                13          2             Other              1
1460                28          4           Medical              1
1461                28          3         Marketing              1
1462                24          1         Marketing              1
1463                 5          3           Medical              1
1464                 5          3             Other              1
1465                23          2           Medical              1
1466                 6          1           Medical              1
1467                 4          3     Life Sciences              1
1468                 2          3           Medical              1
1469                 8          3           Medical              1

      EmployeeNumber          ...           PerformanceRating  \
0                  1          ...                           3
1                  2          ...                           4
2                  4          ...                           3
3                  5          ...                           3
4                  7          ...                           3
5                  8          ...                           3
6                 10          ...                           4
7                 11          ...                           4
8                 12          ...                           4
9                 13          ...                           3
10                14          ...                           3
11                15          ...                           3
12                16          ...                           3
13                18          ...                           3
14                19          ...                           3
15                20          ...                           3
16                21          ...                           3
17                22          ...                           3
18                23          ...                           3
19                24          ...                           3
20                26          ...                           3
21                27          ...                           4
22                28          ...                           3
23                30          ...                           3
24                31          ...                           3
25                32          ...                           3
26                33          ...                           4
27                35          ...                           3
28                36          ...                           3
29                38          ...                           3
...              ...          ...                         ...
1440            2025          ...                           3
1441            2026          ...                           4
1442            2027          ...                           3
1443            2031          ...                           3
1444            2032          ...                           3
1445            2034          ...                           4
1446            2035          ...                           4
1447            2036          ...                           4
1448            2037          ...                           3
1449            2038          ...                           3
1450            2040          ...                           3
1451            2041          ...                           3
1452            2044          ...                           3
1453            2045          ...                           3
1454            2046          ...                           3
1455            2048          ...                           3
1456            2049          ...                           3
1457            2051          ...                           3
1458            2052          ...                           3
1459            2053          ...                           3
1460            2054          ...                           3
1461            2055          ...                           3
1462            2056          ...                           3
1463            2057          ...                           3
1464            2060          ...                           3
1465            2061          ...                           3
1466            2062          ...                           3
1467            2064          ...                           4
1468            2065          ...                           3
1469            2068          ...                           3

     RelationshipSatisfaction  StockOptionLevel  TotalWorkingYears  \
0                           1                 0                  8
1                           4                 1                 10
2                           2                 0                  7
3                           3                 0                  8
4                           4                 1                  6
5                           3                 0                  8
6                           1                 3                 12
7                           2                 1                  1
8                           2                 0                 10
9                           2                 2                 17
10                          3                 1                  6
11                          4                 0                 10
12                          4                 1                  5
13                          3                 1                  3
14                          2                 0                  6
15                          3                 1                 10
16                          4                 2                  7
17                          2                 2                  1
18                          3                 0                 31
19                          3                 0                  6
20                          4                 1                  5
21                          2                 0                 10
22                          3                 0                 13
23                          4                 0                  0
24                          3                 0                  8
25                          4                 1                 26
26                          2                 0                 10
27                          4                 1                 10
28                          4                 1                 24
29                          4                 0                 22
...                       ...               ...                ...
1440                        2                 3                 18
1441                        1                 1                 13
1442                        2                 3                  4
1443                        1                 0                 24
1444                        4                 1                 14
1445                        3                 1                 21
1446                        4                 2                  8
1447                        1                 1                 15
1448                        3                 1                 14
1449                        4                 0                  4
1450                        3                 0                  9
1451                        3                 1                 10
1452                        4                 2                 12
1453                        1                 1                  8
1454                        3                 0                  8
1455                        4                 0                  8
1456                        4                 2                 10
1457                        2                 3                 20
1458                        4                 1                  4
1459                        1                 1                 10
1460                        2                 0                  5
1461                        2                 1                 20
1462                        1                 1                 21
1463                        2                 0                 10
1464                        4                 0                  5
1465                        3                 1                 17
1466                        1                 1                  9
1467                        2                 1                  6
1468                        4                 0                 17
1469                        1                 0                  6

      TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                         0               1               6
1                         3               3              10
2                         3               3               0
3                         3               3               8
4                         3               3               2
5                         2               2               7
6                         3               2               1
7                         2               3               1
8                         2               3               9
9                         3               2               7
10                        5               3               5
11                        3               3               9
12                        1               2               5
13                        2               3               2
14                        4               3               4
15                        1               3              10
16                        5               2               6
17                        2               2               1
18                        3               3              25
19                        3               3               3
20                        5               2               4
21                        4               3               5
22                        4               3              12
23                        6               3               0
24                        2               3               4
25                        3               2              14
26                        5               3              10
27                        2               3               9
28                        4               3              22
29                        2               2               2
...                     ...             ...             ...
1440                      3               3               4
1441                      2               2              13
1442                      3               4               2
1443                      2               2              22
1444                      4               1              10
1445                      3               3              20
1446                      2               3               8
1447                      4               2              15
1448                      5               3               5
1449                      4               3               4
1450                      2               3               9
1451                      1               3              10
1452                      3               3               6
1453                      2               2               6
1454                      3               3               5
1455                      2               3               2
1456                      2               4              10
1457                      2               3               5
1458                      5               3               4
1459                      2               3               4
1460                      3               1               5

In [19]:
classifdata.shape

(1470, 33)

In [20]:
classifdata.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [21]:
#b)

In [22]:
from scipy import stats as st

In [23]:
#1) GENDER WITH ATTRITION

In [24]:
pd.value_counts(classifdata.Gender)

Male      882
Female    588
Name: Gender, dtype: int64

In [25]:
st.chi2_contingency(pd.crosstab(classifdata.Gender, classifdata.Attrition))

(1.1169671241970975, 0.29057244902890855, 1, array([[493.2,  94.8],
        [739.8, 142.2]]))

In [26]:
#2)Education field with attrition

In [27]:
pd.value_counts(classifdata.Education)

3    572
4    398
2    282
1    170
5     48
Name: Education, dtype: int64

In [28]:
st.chi2_contingency(pd.crosstab(classifdata.EducationField, classifdata.Attrition))

(16.024674119585427,
 0.006773980139025212,
 5,
 array([[ 22.64693878,   4.35306122],
        [508.29795918,  97.70204082],
        [133.36530612,  25.63469388],
        [389.19183673,  74.80816327],
        [ 68.77959184,  13.22040816],
        [110.71836735,  21.28163265]]))

In [29]:
#3) gender vs monthly income

In [30]:
pd.value_counts(classifdata.MonthlyIncome)

2342     4
5562     3
2741     3
2451     3
2610     3
2380     3
6142     3
6347     3
2559     3
2404     3
3452     3
5769     2
3420     2
6397     2
4306     2
2743     2
3760     2
2720     2
4779     2
4284     2
5238     2
5228     2
2269     2
2996     2
9980     2
2782     2
5204     2
5993     2
4197     2
7756     2
        ..
3743     1
13582    1
7457     1
13603    1
11557    1
1081     1
5415     1
5486     1
13610    1
7441     1
10851    1
19701    1
5376     1
11510    1
3319     1
5368     1
1274     1
17169    1
3491     1
2011     1
1281     1
3375     1
13570    1
8564     1
7428     1
5381     1
13577    1
12965    1
3339     1
14336    1
Name: MonthlyIncome, Length: 1349, dtype: int64

In [31]:
male = classifdata[classifdata.Gender == 'Male'] #subsetting the data
female = classifdata[classifdata.Gender == 'Female']

In [32]:
st.ttest_ind(male.MonthlyIncome, female.MonthlyIncome)

Ttest_indResult(statistic=-1.2212617308870655, pvalue=0.22218303455087898)

In [33]:
# as p value>0.05 it chooses null hypothesis so there is no significant diffrence

In [34]:
#4) MARITAL STAUTS VS MONTHLY INCOME

In [35]:
pd.value_counts(classifdata.MaritalStatus)

Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64

In [36]:
married = classifdata[classifdata.MaritalStatus == 'Married'] #subsetting the data
single = classifdata[classifdata.MaritalStatus == 'Single']
divorced = classifdata[classifdata.MaritalStatus == 'Divorced']

In [37]:
st.f_oneway(single.MonthlyIncome, married.MonthlyIncome, divorced.MonthlyIncome)

F_onewayResult(statistic=5.904753323759054, pvalue=0.002791675956684596)

In [38]:
#as p values <0.05 it chooses alternative hypothesis and there is significant difference

In [39]:
#5)distance from home vs attrition

In [40]:
pd.value_counts(classifdata.DistanceFromHome)

2     211
1     208
10     86
9      85
3      84
7      84
8      80
5      65
4      64
6      59
16     32
11     29
24     28
29     27
23     27
18     26
15     26
20     25
25     25
26     25
28     23
19     22
14     21
12     20
17     20
13     19
22     19
21     18
27     12
Name: DistanceFromHome, dtype: int64

In [41]:
yes = classifdata[classifdata.Attrition == 'Yes'] #subsetting the data
no = classifdata[classifdata.Attrition == 'No']

In [42]:
st.ttest_ind(yes.DistanceFromHome,no.DistanceFromHome)

Ttest_indResult(statistic=2.994708098265125, pvalue=0.0027930600802134266)

In [43]:
#as p values <0.05 it chooses alternative hypothesis and there is significant difference

In [44]:
#Gender vs years in current role

In [45]:
st.ttest_ind(male.YearsInCurrentRole, female.YearsInCurrentRole  )

Ttest_indResult(statistic=-1.5907588008772968, pvalue=0.11187917635884875)

In [46]:
# as p value>0.05 it chooses null hypothesis so there is no significant diffrence

In [47]:
#7)maritalstatus vs years in  current role

In [48]:
st.f_oneway(single.YearsInCurrentRole  , married.YearsInCurrentRole  , divorced.YearsInCurrentRole  )

F_onewayResult(statistic=5.677257510552127, pvalue=0.003498575600322668)

In [49]:
#as p values <0.05 it chooses alternative hypothesis and there is significant difference

In [50]:
#c)cleaning missing values

In [51]:
(classifdata.isnull().sum().sort_values(ascending=False))

YearsWithCurrManager        0
JobRole                     0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobSatisfaction             0
YearsSinceLastPromotion     0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
Age                         0
dtype: int64

In [52]:
#no missing data available here

In [53]:
from sklearn.preprocessing import LabelEncoder

In [54]:
le = LabelEncoder()

In [55]:
intcols = classifdata.select_dtypes(include = ['int64'])

objectcols = classifdata.select_dtypes(include = ['object'])

In [56]:
intcols.dtypes

Age                         int64
DailyRate                   int64
DistanceFromHome            int64
Education                   int64
EmployeeCount               int64
EmployeeNumber              int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
JobSatisfaction             int64
MonthlyIncome               int64
MonthlyRate                 int64
NumCompaniesWorked          int64
PercentSalaryHike           int64
PerformanceRating           int64
RelationshipSatisfaction    int64
StockOptionLevel            int64
TotalWorkingYears           int64
TrainingTimesLastYear       int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsInCurrentRole          int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
dtype: object

In [57]:
objectcols.dtypes

Attrition         object
BusinessTravel    object
Department        object
EducationField    object
Gender            object
JobRole           object
MaritalStatus     object
OverTime          object
dtype: object

In [58]:
intcols1 = intcols.drop(['EmployeeNumber','EmployeeCount'],axis=1)

In [59]:
intcols1.dtypes

Age                         int64
DailyRate                   int64
DistanceFromHome            int64
Education                   int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
JobSatisfaction             int64
MonthlyIncome               int64
MonthlyRate                 int64
NumCompaniesWorked          int64
PercentSalaryHike           int64
PerformanceRating           int64
RelationshipSatisfaction    int64
StockOptionLevel            int64
TotalWorkingYears           int64
TrainingTimesLastYear       int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsInCurrentRole          int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
dtype: object

In [60]:
intcols2 = intcols1.apply(le.fit_transform)

In [61]:
objectcols1 = objectcols.apply(le.fit_transform)

In [62]:
classifdatadf = pd.concat([ intcols2, objectcols1], axis = 1)

In [63]:
y =classifdatadf.Attrition
X = classifdatadf.drop('Attrition', axis = 1)

In [64]:
#e

In [65]:
#logistic regression
from sklearn.linear_model import LogisticRegression

In [66]:
LogReg=LogisticRegression()

In [67]:
LogRegmodel=LogReg.fit(X,y)

In [68]:
LogRegmodel.score(X,y) # Accuracy calculated using Confusion matrix

0.8748299319727891

In [69]:
 LogRegpredict=LogRegmodel.predict(X)

In [70]:
pd.crosstab(classifdatadf.Attrition,LogRegpredict) #confusion matrix

col_0         0   1
Attrition
0          1193  40
1           144  93

In [71]:
#accuracy=
(1193+93)/(1193+40+144+93)

0.8748299319727891

In [72]:
#DECISON TREE

In [73]:
from sklearn.tree import DecisionTreeClassifier

In [74]:
DecTree=DecisionTreeClassifier()

In [75]:
DecTreemodel=DecTree.fit(X,y)

In [76]:
DecTreemodel.score(X,y)

1.0

In [77]:
DecTreepredict=DecTreemodel.predict(X)

In [78]:
pd.crosstab(classifdatadf.Attrition,DecTreepredict) #confusion matrix

col_0         0    1
Attrition
0          1233    0
1             0  237

In [79]:
#accuracy=
(1233+237)/(1233+237+0+0)

1.0

In [80]:
#Random forest

In [81]:
from sklearn.ensemble import RandomForestClassifier

In [82]:
RF=RandomForestClassifier(n_estimators=1000)

In [83]:
RFmodel=RF.fit(X,y)

In [84]:
RFmodel.score(X,y)

1.0

In [85]:
RFpredict=RFmodel.predict(X)

In [86]:
pd.crosstab(classifdatadf.Attrition,RFpredict) #confusion matrix

col_0         0    1
Attrition
0          1233    0
1             0  237

In [87]:
#accuracy=
(1233+237)/(1233+237+0+0)

1.0

In [88]:
#4)gradient boosting

In [89]:
from sklearn.ensemble import GradientBoostingRegressor

In [90]:
GB=GradientBoostingRegressor(n_estimators=1000)

In [91]:
GBmodel=GB.fit(X,y)

In [92]:
GBmodel.score(X,y)

0.9660377727789499

In [93]:
GBpredict=GBmodel.predict(X)

In [94]:
pd.crosstab(classifdatadf.Attrition,GBpredict) #confusion matrix

col_0,-0.11325893281627562,-0.10150276418295776,-0.1006554584336481,-0.09701914151094088,-0.09671576876984027,-0.09512930839602086,-0.09403478786662325,-0.09068371779356815,-0.08825955775896638,-0.08659315868955053,...,1.0158057883645994,1.0162260588336611,1.0165726089625784,1.0206823974861732,1.0370232042375251,1.0415694537547673,1.0638258179224418,1.0642028409922046,1.0645738566183833,1.0679391900552566
Attrition,,,,,,,,,,,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [95]:
#5)Neural Networks

In [96]:
from sklearn.neural_network import MLPClassifier

In [97]:
NN=MLPClassifier(activation='relu',hidden_layer_sizes=(200,100,))

In [98]:
NNmodel=NN.fit(X,y)

In [99]:
NNmodel.score(X,y)

0.23333333333333334

In [100]:
NNpredict=NNmodel.predict(X)

In [101]:
pd.crosstab(classifdatadf.Attrition,NNpredict)

col_0        0     1
Attrition
0          111  1122
1            5   232

In [102]:
#accuracy=
(1205+41)/(1205+28+196+41)

0.8476190476190476

In [103]:
#6)support vecto machines

In [104]:
from sklearn.svm import SVC

In [105]:
supportvec=SVC()

In [106]:
supvecmodel=supportvec.fit(X,y)

In [107]:
supvecmodel.score(X,y)

1.0

In [108]:
supvecmodel

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [109]:
supvecpredict=supvecmodel.predict(X)

In [110]:
pd.crosstab(y,supvecpredict)

col_0         0    1
Attrition
0          1233    0
1             0  237

In [111]:
#Accuracy
(1233+237)/(1233+0+0+237)

1.0

In [112]:
#7)KNN

In [113]:
from sklearn.neighbors import KNeighborsClassifier

In [114]:
knn=KNeighborsClassifier()

In [115]:
knnmodel=knn.fit(X,y)

In [116]:
knnmodel.score(X,y)

0.8598639455782313

In [117]:
knnpredict=knnmodel.predict(X)

In [118]:
pd.crosstab(y,knnpredict)

col_0         0   1
Attrition
0          1210  23
1           183  54

In [119]:
#accuracy
(1210+54)/(1210+23+183+54)

0.8598639455782313

In [120]:
#as the accuracy is calculated by the confusion matrix so Decision tree , RandomForest  ,SupportVector machine as large accuracy value as(1.0) so those are the best model and NEURAL NETWORKS s the worst model