In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
bankfull=pd.read_csv("/Users/Anusha/Desktop/ML/Day 01/Datasets BITS/bank-full.csv")

In [3]:
bankfull.shape

(45211, 17)

In [4]:
bankfull.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [114]:
(bankfull.isnull().sum().sort_values(ascending=False))

y            0
loan         0
job          0
marital      0
education    0
default      0
balance      0
housing      0
contact      0
poutcome     0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
age          0
dtype: int64

In [5]:
#IMPLEMENT TWO HYPOTHESIS TESTS

In [6]:
from scipy import stats as st

In [7]:
# test 1 (chi-square)
# NULL - THERE IS NO DEPENDENCE BETWEEN EDUCATION AND Y
# ALTERNATE - THERE IS DEPENDENCE BETWEEN EDUCATION AND Y

In [119]:
st.chi2_contingency(pd.crosstab(bankfull.education,bankfull.y))

(238.92350616407606,
 1.6266562124072994e-51,
 3,
 array([[ 6049.5371038 ,   801.4628962 ],
        [20487.71856407,  2714.28143593],
        [11744.98511424,  1556.01488576],
        [ 1639.75921789,   217.24078211]]))

In [8]:
# Since p < 0.05, NULL REJECTED
# HENCE THERE IS DEPENDENCE BETWEEN EDUCATION AND Y

In [ ]:
# test 2 (chi-square)
# NULL - THERE IS NO DEPENDENCE BETWEEN JOB AND Y
# ALTERNATE - THERE IS DEPENDENCE BETWEEN JOB AND Y

In [120]:
st.chi2_contingency(pd.crosstab(bankfull.job,bankfull.y))

(836.1054877471965,
 3.337121944935502e-172,
 11,
 array([[4566.0715755 ,  604.9284245 ],
        [8593.5038818 , 1138.4961182 ],
        [1313.04359559,  173.95640441],
        [1094.93884232,  145.06115768],
        [8351.55771825, 1106.44228175],
        [1999.14640242,  264.85359758],
        [1394.28099356,  184.71900644],
        [3668.04512176,  485.95487824],
        [ 828.2682533 ,  109.7317467 ],
        [6708.26643958,  888.73356042],
        [1150.56879963,  152.43120037],
        [ 254.30837628,   33.69162372]]))

In [9]:
# Since p < 0.05, NULL REJECTED
# HENCE THERE IS DEPENDENCE BETWEEN JOB AND Y

In [121]:
bankfull.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [12]:
# test 3 (t-test)
# NULL  - THE AVERAGE AGE OF CUSTOMERS WITH y = YES AND y = NO IS EQUAL 
# ALTERNATE  - THE AVERAGE AGE OF CUSTOMERS WITH y = YES AND y = NO IS NOT EQUAL

In [13]:
yes = bankfull[bankfull.y == 'yes'] #subsetting the data
no = bankfull[bankfull.y == 'no']

In [14]:
st.ttest_ind(yes.age, no.age) # 2 Sample Independent T test

Ttest_indResult(statistic=5.350255423036203, pvalue=8.825643691922395e-08)

In [15]:
# Since the p-value 8.825643691922395e-08 < 0.05, we REJECT NULL
# HENCE THE AVERAGE AGE OF CUSTOMERS WITH y = YES AND y = NO IS NOT EQUAL

In [17]:
# CLASSIFICATION ALGORITHM

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le=LabelEncoder()

In [25]:
numericcols=bankfull.select_dtypes(include=['int64'])
objectcols=bankfull.select_dtypes(include=['object'])

In [26]:
numericcols1=numericcols.drop('day',axis=1)

In [27]:
objectcols1=objectcols.drop('month',axis=1)

In [28]:
objectcols2=objectcols1.apply(le.fit_transform)

In [29]:
bankfulldf=pd.concat([numericcols1,objectcols2],axis=1)

In [30]:
bankfulldf.head()

,age,balance,duration,campaign,pdays,previous,job,marital,education,default,housing,loan,contact,poutcome,y
0,58,2143,261,1,-1,0,4,1,2,0,1,0,2,3,0
1,44,29,151,1,-1,0,9,2,1,0,1,0,2,3,0
2,33,2,76,1,-1,0,2,1,1,0,1,1,2,3,0
3,47,1506,92,1,-1,0,1,1,3,0,1,0,2,3,0
4,33,1,198,1,-1,0,11,2,3,0,0,0,2,3,0

In [31]:
y=bankfulldf.y
X=bankfulldf.drop('y',axis=1)

In [32]:
# lOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression

In [33]:
LogReg=LogisticRegression()

In [34]:
LogRegmodel=LogReg.fit(X,y)

In [35]:
LogRegmodel.score(X,y) # Accuracy calculated using Confusion matrix

0.890734555749707

In [36]:
LogRegpredict=LogRegmodel.predict(X)

In [37]:
pd.crosstab(bankfulldf.y,LogRegpredict)

col_0      0     1
y
0      39170   752
1       4188  1101

In [57]:
# DECISION TREE CLASSIFIER
from sklearn.tree import DecisionTreeClassifier

In [58]:
DecTree=DecisionTreeClassifier()

In [41]:
DecTreemodel=DecTree.fit(X,y)

In [42]:
DecTreemodel.score(X,y)

1.0

In [43]:
DecTreepredict=DecTreemodel.predict(X)

In [44]:
pd.crosstab(bankfulldf.y,DecTreepredict)

col_0      0     1
y
0      39922     0
1          0  5289

In [45]:
# RANDOM FOREST CLASSIFIER
from sklearn.ensemble import RandomForestClassifier

In [46]:
RF=RandomForestClassifier(n_estimators=100)

In [47]:
RFmodel=RF.fit(X,y)

In [48]:
RFmodel.score(X,y)

1.0

In [49]:
RFpredict=RFmodel.predict(X)

In [50]:
pd.crosstab(bankfulldf.y,RFpredict)

col_0      0     1
y
0      39922     0
1          0  5289

In [51]:
# NEURAL NETWORK
from sklearn.neural_network import MLPClassifier

In [52]:
NN=MLPClassifier(activation='relu',hidden_layer_sizes=(10,))

In [53]:
NNmodel=NN.fit(X,y)

In [54]:
NNmodel.score(X,y)

0.8431355201167857

In [55]:
NNpredict=NNmodel.predict(X)

In [56]:
pd.crosstab(bankfulldf.y,NNpredict)

col_0      0     1
y
0      35211  4711
1       2381  2908