In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
healthtrain = pd.read_csv("C:/Users/Anusha/Desktop/ML/min05/train.csv")

In [3]:
healthtest = pd.read_csv("C:/Users/Anusha/Desktop/ML/min05/test.csv")

In [4]:
healthtest.shape

(2947, 563)

In [5]:
healthtrain.shape

(7352, 563)

In [6]:
y_train = healthtrain.Activity
X_train = healthtrain.drop('Activity', axis = 1)

In [7]:
y_test = healthtest.Activity
X_test = healthtest.drop('Activity', axis = 1)

In [8]:
# LOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression

In [15]:
LogReg = LogisticRegression(multi_class='multinomial', solver='lbfgs')

In [16]:
LogRegmodel = LogReg.fit(X_train,y_train)

In [17]:
LogRegmodel.score(X_test,y_test) # Accuracy on TEST dataset(LOGISTIC REGRESSION)

0.9538513742789277

In [20]:
LogRegmodel.score(X_train,y_train) # Accuracy on TRAIN dataset(LOGISTIC REGRESSION)

0.9885745375408053

In [21]:
LogRegpredict = LogRegmodel.predict(X_test)

In [22]:
pd.crosstab(y_test, LogRegpredict) # diagonal values are correct values

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,2,426,61,0,0,2
STANDING,0,16,516,0,0,0
WALKING,0,0,0,487,3,6
WALKING_DOWNSTAIRS,0,0,0,5,405,10
WALKING_UPSTAIRS,0,0,0,23,8,440

In [23]:
# DECISION TREE CLASSIFIER
from sklearn.tree import DecisionTreeClassifier

In [24]:
DecTree = DecisionTreeClassifier()

In [25]:
DecTreemodel = DecTree.fit(X_train, y_train)

In [30]:
DecTreemodel.score(X_train,y_train) # Accuracy on TRAIN dataset(DECISION TREE CLASSIFIER)

1.0

In [31]:
DecTreemodel.score(X_test,y_test) # Accuracy on TEST dataset(DECISION TREE CLASSIFIER)

0.8551068883610451

In [32]:
DecTreepredict = DecTreemodel.predict(X_test)

In [33]:
pd.crosstab(y_test, DecTreepredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,383,108,0,0,0
STANDING,0,84,448,0,0,0
WALKING,0,0,0,437,16,43
WALKING_DOWNSTAIRS,0,0,0,23,349,48
WALKING_UPSTAIRS,0,0,0,59,46,366

In [34]:
# RANDOM FOREST CLASSIFIER
from sklearn.ensemble import RandomForestClassifier

In [35]:
RF = RandomForestClassifier(n_estimators = 100)

In [36]:
RFmodel = RF.fit(X_train, y_train)

In [37]:
RFmodel.score(X_train, y_train) # Accuracy on TRAIN dataset(RANDOM FOREST CLASSIFIER)

1.0

In [38]:
RFmodel.score(X_test, y_test) # Accuracy on TEST dataset(RANDOM FOREST CLASSIFIER)

0.9290804207668816

In [39]:
RFpredict = RFmodel.predict(X_test)

In [44]:
pd.crosstab(y_test, RFpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,434,57,0,0,0
STANDING,0,41,491,0,0,0
WALKING,0,0,0,480,7,9
WALKING_DOWNSTAIRS,0,0,0,22,357,41
WALKING_UPSTAIRS,0,0,0,35,7,429

In [40]:
# GRADIENT BOOSTING CLASSIFIER
from sklearn.ensemble import GradientBoostingClassifier

In [41]:
GB = GradientBoostingClassifier(n_estimators = 50)

In [42]:
GBmodel = GB.fit(X_train, y_train)

In [43]:
GBmodel.score(X_train, y_train) # Accuracy on TRAIN dataset(GRADIENT BOOSTING CLASSIFIER)

0.9975516866158868

In [44]:
GBmodel.score(X_test, y_test) # Accuracy on TEST dataset(GRADIENT BOOSTING CLASSIFIER)

0.9287410926365796

In [45]:
GBpredict = GBmodel.predict(X_test)

In [46]:
pd.crosstab(y_test, GBpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,408,80,0,0,3
STANDING,0,39,492,1,0,0
WALKING,0,0,0,485,4,7
WALKING_DOWNSTAIRS,0,0,0,11,377,32
WALKING_UPSTAIRS,0,1,0,25,7,438

In [47]:
# NEURAL NETWORK (Single Hidden Layer of 100 Neurons) 
from sklearn.neural_network import MLPClassifier

In [48]:
NN = MLPClassifier(activation = 'relu', hidden_layer_sizes=(10,))

In [49]:
NNmodel = NN.fit(X_train, y_train)

In [50]:
NNmodel.score(X_train, y_train) # Accuracy on TRAIN dataset(NEURAL NETWORK)

0.9925190424374319

In [51]:
NNmodel.score(X_test, y_test) # Accuracy on TEST dataset(NEURAL NETWORK)

0.9511367492365117

In [52]:
NNpredict = NNmodel.predict(X_test)

In [53]:
pd.crosstab(y_test, NNpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,534,0,3,0,0,0
SITTING,2,428,60,0,0,1
STANDING,0,18,514,0,0,0
WALKING,0,0,0,493,3,0
WALKING_DOWNSTAIRS,0,0,0,4,403,13
WALKING_UPSTAIRS,0,0,1,35,4,431

In [54]:
# KNN - K NEAREST NEIGHBOUR
from sklearn.neighbors import KNeighborsClassifier

In [55]:
KNN = KNeighborsClassifier()

In [56]:
KNNmodel = KNN.fit(X_train, y_train)

In [57]:
KNNmodel.score(X_train, y_train) # Accuracy on TRAIN dataset(KNN)

0.9889825897714908

In [58]:
KNNmodel.score(X_test, y_test) # Accuracy on TEST dataset(KNN)

0.8096369189005769

In [59]:
KNNpredict = KNNmodel.predict(X_test)

In [60]:
pd.crosstab(y_test, KNNpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,511,19,7,0,0,0
SITTING,0,332,157,0,0,2
STANDING,0,66,465,1,0,0
WALKING,0,0,0,423,43,30
WALKING_DOWNSTAIRS,0,0,0,78,313,29
WALKING_UPSTAIRS,0,0,0,101,28,342

In [61]:
# SUPPORT VECTOR MACHINES
from sklearn.svm import SVC

In [62]:
SupportVec = SVC(kernel = 'linear')

In [63]:
SupVecmodel = SupportVec.fit(X_train, y_train)

In [64]:
SupVecmodel.score(X_train, y_train) # Accuracy on TRAIN dataset(SUPPORT VECTOR MACHINES)

0.9940152339499456

In [65]:
SupVecmodel.score(X_test, y_test) # Accuracy on TEST dataset(SUPPORT VECTOR MACHINES)

0.9633525619273838

In [66]:
SupVecPredict = SupVecmodel.predict(X_test)

In [67]:
pd.crosstab(y_test, SupVecPredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,435,55,0,0,1
STANDING,0,16,516,0,0,0
WALKING,0,0,0,494,1,1
WALKING_DOWNSTAIRS,0,0,0,4,410,6
WALKING_UPSTAIRS,0,0,0,22,2,447